.welcome
  .row
    .small-12.large-12.column
      %h1 Involvement Tracking
      %h3 Green Engineering Scholars at The Ohio State University

      .text-center
        = link_to 'Log an Event', new_track_event_path, class: "button large"
        = link_to 'Get my History', track_events_digest_path, class: "button large"

.row
  .small-12.large-12.column
    %h2 Welcome GESers!
    %p
      This website has been designed specifically for 1<sup>st</sup> and
      2<sup>nd</sup> year Green Engineering Scholars to keep track of community
      service hours (CS) and GES events required by the program each semester.
      An explanation of your requirements for each semester can be found <a
      href="https://u.osu.edu/osuges/requirements/">on the GES website.</a>
    %p
      Please note, you do <em>not</em> need to enter logs for meeting
      attendance; just be sure to sign in at ALL GES meetings to earn credit
      for those. We recommend logging an event immediately upon completion, so
      you don’t forget to do this. If you cannot remember details about an
      event, please take a look back at
      %a{href: 'https://u.osu.edu/osuges/upcoming-events-2'}
        our calendar
      (you can even search past events here!)
      and keep an eye out for [CS], [GES], and/or [LT] at the beginning of the
      event name, which indicates whether it counts as community service hours
      [CS], as a GES event [GES], or as a long term activity [LT].

    %h2 Logging Instructions
    %p
      To get started with logging
      an event, click on <em>Log an Event</em>. Can’t remember what you’ve already
      logged this year? Click on <em>Get my History</em> to see what you’ve completed
      and logged already. Remember, activities can roll over from fall semester
      into spring, but you start fresh in fall semester of your 2nd year. Happy
      logging!
