.welcome
  .row
    .small-12.large-12.column
      %h1 All Logs

.row
  .small-12.large-12.column
    %h3 Search

    =form_tag track_events_path, :method => :get do
      =label_tag "name.#"
      =text_field_tag "user", ""
      =submit_tag 'Search', class: "button tiny"


.row
  .small-12.large-12.column
    %h3
      - if @user.nil?
        =@logs.count
        logs total
      - else
        =@logs.count
        logs for
        =@user

    - if @user.present?
      %table
        %tr
          %th Total CS Hours
          %th Total GES Events
          %th Total Long Term Events
        %tr
          %th
            =@logs.where(category: "CS").sum(:length)
          %th
            =@logs.where(category: "GES").count
          %th
            =@logs.where(category: "LTE").count

    - if @user.nil?
      %p
        =link_to 'Download CSV', track_events_path + ".csv", class: "button"
        =link_to 'Delete all', track_events_path + "/delete_all", class: "button", id: "confirm-delete"

    %table
      %tr
        %th id
        %th email
        %th year
        %th title
        %th date
        %th category
        %th optional_info
        %th CS_contact
        %th CS_hours

      - @logs.each do |l|
        %tr
          %td
            =link_to l.id
          %td
            =l.email
          %td
            =l.year
          %td
            =l.title
          %td
            =l.date
          %td
            =l.category
          %td
            =l.info
          %td
            =l.contact
          %td
            =l.length
