.welcome
  .row
    .small-12.large-12.column
      %h1 Success

.row
  .small-12.large-12.column
    %h3 On it's way!
    %p
      We just sent you an email with everything you've logged so far this
      semester, as well as your progress toward involvement requirements.

    .text-center
      = link_to 'Log an Event', new_track_event_path, class: "button"

