!!!
%htm
  %head
    %title GES Involvement Tracking
    <meta name="viewport" content="width=device-width" />
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    #not-footer
      #nav-parent.contain-to-grid
        %nav.top-bar{data: {topbar:true}}
          %ul.title-area
            %li.name
              %h1 
                %a{:href => '/'} GES Tracking

          %section.top-bar-section
            %ul.right
              %li
                %a{:href => 'https://u.osu.edu/osuges'} GES Website
              %li
                %a{:href => 'https://github.com/notori0us/geswebsite'} Source Code

      = yield

    %footer
      .row
        .small-12.medium-8.large-8.columns
          %p.copyright
            &copy; 2017 GES Leadership Council CC-BY-NA

        .hide-for-small-only.medium-4.large-4.columns
          %p.django-note
            Powered by
            %a{:href => 'http://rubyonrails.org'} Rails
            and
            %a{:href => 'https://aws.amazon.com'} Amazon Web Services

